.bg-image {
    background-image: url('../img/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    display: flex;
}

.hero-container {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
}

.hero-content {
    color: white;
    top: 45%;
    left: 45%;
    position: absolute;
    
}

.name-text {
    font-size: 60px;
    text-align: center;
}

.hero-button {
    text-align: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 10px;
}